.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    /*border: 1px solid black;*/
}

/*.section__grid-header {*/
/*    border: 1px solid black;*/
/*    grid-column-start: 1;*/
/*    grid-column-end: 2;*/
/*}*/

/*.section__grid-body {*/
/*   border: 1px solid black;*/
/*   grid-column-start: 2;*/
/*   grid-column-end: 3;*/
/*}*/

.row {
    /*border: 1px solid black;*/
    padding: 10%;
}


.item-a {
  grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 3;
}